* {
  box-sizing: border-box;
}

/* full viewheight */
html, body ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  padding: 15px;
  width: 100%;
  z-index: 10;
}

/* padding to make larger, margin to space between */
nav a {
  margin: 0 20px;
  font-size: 1.5em;
}

.main {
  position: absolute; /*to body*/
  top: 228.59px;
  width: 100%;
}

ul {
  list-style: none;
}

.profile-pic {
  text-align: center;
  margin: 100px;
  display: flex;
  justify-content: center;
}

.contact-info a {
  font-size: rem;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}



section:nth-child(even) {
  background-color: #ddd;
}


/* display: grid; */
  /* grid-gap: auto; */
  /* grid-template-rows: 300px 100px; explicit --> 300px, implicit 100px */
  /* grid-template-columns: 100px, 200px, 300px;
  grid-column-gap: 20px;
  grid-row-gap: 20px */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); responsive layout as you rerendered the browser */
  /* grid-template-columns: 1fr 3fr 1fr; first row repeat(3, 1fr) = 3 column layout */
  /* grid-auto-rows: 150px; all rows after 1st */

  /* .section2 {
  grid-column: span 2;
  grid-column-start: 1;
  grid-column-end: 3;
} */